%h1.page-header.text-center My Profile
.row
  .col-md-4.col-md-offset-4
    .panel.panel-default
      .panel-body
        %form{name: "edit_profile_form", novalidate: true}
          .form-group{'ng-class':"{'has-error': errors.email}"}
            %label{name: 'email', class: 'control-label'} Email
            %input{type: 'text', name: 'email', 'ng-model': 'profile.email', class: 'form-control', 'ng-required':'true'}
            .help-block.text-danger{'ng-show':'errors.email'} {{ errors.email.join(', ') }}
          .form-group{'ng-class':"{'has-error': errors.num_of_calories}"}
            %label{name: 'num_of_calories', class: 'control-label'} Expected number of calories per day
            %input{type: 'num_of_calories', name: 'num_of_calories', 'ng-model': 'profile.num_of_calories', class: 'form-control', 'ng-required':'true'}
            .help-block.text-danger{'ng-show':'errors.num_of_calories'} {{ errors.num_of_calories.join(', ') }}
          %input{type: 'submit', value: 'Update', class: 'btn btn-primary', 'ng-click':'update()', 'ng-disabled':'disabled()'}
          %a{class: 'btn btn-primary', 'href':'/#/', 'ng-disabled':'busy'} Cancel