%h1.page-header.text-center
  .pull-right
    %a{class: 'btn btn-default', href: '/#/records/new'} Add Record
  Calorie Records
%form{name: 'filter_records_form', class: 'form-inline', 'ng-submit':'filter_records()'}
  .form-group
    %label{name: 'date', class: 'form-label'} Date Range
    %input{name: 'date_from', type: 'date', class: 'form-control', placeholder: 'Date From', 'ng-model':'filter.date_from'}
    %label{name: 'date', class: 'form-label'} -
    %input{name: 'date_to', type: 'date', class: 'form-control', placeholder: 'Date To', 'ng-model':'filter.date_to'}
  .form-group
    %label{name: 'time', class: 'form-label'} Time Range
    %input{name: 'time_from', type: 'number', class: 'form-control', placeholder: 'Time From', 'ng-model':'filter.time_from', step:'0.01', min:'0', max:'23.59'}
    %label{name: 'date', class: 'form-label'} -
    %input{name: 'time_to', type: 'number', class: 'form-control', placeholder: 'Time To', 'ng-model':'filter.time_to', step:'0.01', min:'0', max:'23.59'}
  %input{type: 'submit', value: 'Filter', class: 'btn btn-default'}
  %a{href: '/#/', class: 'btn btn-default'} Reset
.panel.panel-default
  .panel-body
    %table.table
      %thead
        %th User
        %th Date
        %th Time
        %th.text-center Meal
        %th Calories
        %th
      %tbody
        %tr{'ng-repeat':'record in records', 'ng-controller':'RecordsDeleteController','ng-class': "{'text-success': record.overflow == false, 'text-danger': record.overflow}"}
          %td {{record.user.email}}
          %td {{record.date | only_date}}
          %td {{record.time / 3600 }}
          %td.text-center {{record.meal}}
          %td {{record.num_of_calories | thousand_separator}}
          %td.text-right
            %a{href:'/#/records/{{record.id}}/edit',class: 'btn-icon'}
              %span{class:"glyphicon glyphicon-edit",'aria-hidden':true}
            %a{'ng-click':"delete()",class: 'btn-icon'}
              %span{class:"glyphicon glyphicon-trash",'aria-hidden':true}
